<div class="nav">
    <a class="logo">AppleForum</a>
    <a href="/list">글목록</a>
    <a href="/write">글작성</a>
    <a href="/mypage">마이페이지</a>
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
</div>